*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#fff;
font-family:"Inter",sans-serif;
color:#111;
}

a{
text-decoration:none;
color:inherit;
}

.container{
max-width:520px;
margin:auto;
padding:40px 26px 60px;
}

.line{
height:1px;
background:#ececec;
margin:18px 0 42px;
}

.bottom{
margin-top:50px;
}

.logo{
display:block;
width:210px;
margin:0 auto 28px;
}

.subtitle{
text-align:center;
font-size:13px;
letter-spacing:8px;
color:#8c8c8c;
margin-bottom:45px;
font-weight:400;
}

.item{
display:flex;
justify-content:space-between;
align-items:center;
padding:28px 0;
transition:.25s;
}

.item:hover{
opacity:.65;
}

.left{
display:flex;
align-items:center;
gap:18px;
}

.icon{
font-size:28px;
width:38px;
text-align:center;
color:#9d9d9d;
}

.left span{

display:block;
font-size:13px;
font-weight:300;
letter-spacing:8px;
color:#b3b3b3;
margin-bottom:6px;
text-transform:uppercase;

}

.left h3{

font-family:"Cormorant Garamond",serif;
font-size:32px;
font-weight:300;
letter-spacing:.2px;
color:#3d3d3d;

}

.arrow{
font-size:30px;
color:#bdbdbd;
transition:.25s;
}

.item:hover .arrow{
transform:translateX(6px);
}

@media(max-width:768px){

.container{
padding:28px 20px 50px;
}

.logo{
width:180px;
}

.left h3{
font-size:24px;
}

.subtitle{
letter-spacing:6px;
font-size:12px;
}

.arrow{
font-size:26px;
}

}