*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#fff;
font-family:"Inter",sans-serif;
color:#111;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

a{
text-decoration:none;
color:inherit;
}

.container{
max-width:520px;
margin:auto;
padding:40px 26px 60px;
}

.line{
height:1px;
background:#ececec;
margin:18px 0 42px;
}

.bottom{
margin-top:50px;
}

.logo{
display:block;
width:210px;
margin:0 auto 28px;
user-select:none;
-webkit-user-drag:none;
}

/* ---------- SUBTITLE ---------- */

.subtitle{

display:flex;
flex-direction:column;
align-items:center;

margin-bottom:48px;

}

.subtitle div:first-child{

font-size:12px;
font-weight:300;
letter-spacing:7px;
text-transform:uppercase;
color:#9a9a9a;

}

.flags{

margin-top:10px;
font-size:16px;
line-height:1;

}

/* ---------- ITEMS ---------- */

.item{

display:flex;
justify-content:space-between;
align-items:center;

padding:36px 0;

transition:.3s ease;

}

.item:hover{

opacity:.78;

}

.left{

display:flex;
align-items:center;
gap:18px;

}

/* ---------- ICONS ---------- */

.icon{

width:42px;
height:42px;

display:flex;
align-items:center;
justify-content:center;

flex-shrink:0;

}

.icon img{

width:32px;
height:32px;

display:block;

object-fit:contain;

border-radius:8px;

transition:.3s ease;

}
#openShop .icon img{

width:36px;
height:36px;

border-radius:0;

}

/* ---------- TEXT ---------- */

.left span{

font-size:17px;

font-weight:400;

letter-spacing:9px;

color:#8f8f8f;

}

/* ---------- ARROW ---------- */

.arrow{

font-size:26px;

font-weight:200;

color:#c9c9c9;

transition:.3s ease;

}

/* ---------- PREMIUM HOVER ---------- */

.item:hover .arrow{

transform:translateX(6px);

opacity:.6;

}

.item:hover .icon img{

opacity:.78;

transform:scale(.96);

}

.item:active .icon img{

opacity:.55;

transform:scale(.9);

}

.item:active .arrow{

transform:translateX(8px);

}

/* ---------- MOBILE ---------- */

@media(max-width:768px){

.container{

padding:28px 20px 50px;

}

.logo{

width:180px;

}

.subtitle div:first-child{

font-size:11px;

letter-spacing:6px;

}

.flags{

font-size:15px;

margin-top:8px;

}

.item{

padding:26px 0;

}

.left{

gap:16px;

}

.icon{

width:34px;
height:34px;

}

.icon img{

width:22px;
height:22px;

}

.left span{

font-size:11px;

letter-spacing:7px;

}

.left h3{

font-size:24px;

}

.arrow{

font-size:24px;

}

}