#loader{

position:fixed;

inset:0;

z-index:99999;

pointer-events:none;

backdrop-filter:blur(22px);

-webkit-backdrop-filter:blur(22px);

opacity:1;

transition:
backdrop-filter 1.8s cubic-bezier(.22,.61,.36,1),
-webkit-backdrop-filter 1.8s cubic-bezier(.22,.61,.36,1),
opacity 1.8s cubic-bezier(.22,.61,.36,1);

}

#loader img{

display:none;

}

#loader.hide{

backdrop-filter:blur(0px);

-webkit-backdrop-filter:blur(0px);

opacity:0;

}